body *,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ProximaNova", sans-serif;
    position: relative;
    font-size: 16px;
}

b,
strong {
    font-weight: 600;
}

:root {
    --color-primary: #428dff;
}

a {
    color: #333;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

img {
    max-width: 100%;
}